.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  gap: 20px;
  text-align: center;
}
.card img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
  background-color: #ffffff;
}
.price {
  font-weight: bold;
  font-size: 2rem;
}
.card button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #e67e22;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.empy {
  padding: 300px;
  display: flex;
  flex-direction: column;
}

.btn-price, .btn-invoice {
  background: linear-gradient(135deg, #FF7E5F, #FFB07C); 
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background 0.3s, transform 0.3s; 
}



.facture, .facture-invoice {
  background: linear-gradient(135deg, #FF7E5F, #FFB07C); 
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background 0.3s, transform 0.3s; 
  margin-left: 20px;
}


.facture:hover, .facture:hover {
  background: linear-gradient(135deg, #FFB07C, #FF7E5F); 
  transform: scale(1.05); 
}


.facture-invoice {
  background: linear-gradient(135deg, #4CAF50, #8BC34A); 
}


.facture:hover {
  background: linear-gradient(135deg, #8BC34A, #4CAF50); 
}

.empty{
  display: flex;
  justify-content: center;
}
.empty-img {
  background-color: red;
}
.icons{
  height: 300px ;
  width: 300px;
}
.paiment, .facture-invoice {
  background: linear-gradient(135deg, #FF7E5F, #FFB07C); 
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background 0.3s, transform 0.3s; 
  margin-left: 20px;
}


.paiment:hover, .paiment:hover {
  background: linear-gradient(135deg, #FFB07C, #FF7E5F); 
  transform: scale(1.05); 
}


.paiment-invoice {
  background: linear-gradient(135deg, #4CAF50, #8BC34A); 
}


.paiment:hover {
  background: linear-gradient(135deg, #8BC34A, #4CAF50); 
}

.empty{
  display: flex;
  justify-content: center;
}
.empty-img {
  background-color: red;
}
.icons{
  height: 300px ;
  width: 300px;
}
.cart-image{
  background: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url("../../photo/product.jpg");
  background-size: cover;
  background-position: center;
}