.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  gap: 20px;
  text-align: center;
}

.card img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
  background-color: #ffffff;
}

.price {
  font-weight: bold;
  font-size: 2rem;
}

.card button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #e67e22;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.btn-price,
.btn-invoice,
.paiment,
.facture {
  background: linear-gradient(135deg, #ff7e5f, #ffb07c);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.3s;
}

.btn-price:hover,
.btn-invoice:hover,
.paiment:hover,
.facture:hover {
  background: linear-gradient(135deg, #ffb07c, #ff7e5f);
  transform: scale(1.05);
}

.facture-invoice {
  background: linear-gradient(135deg, #4caf50, #8bc34a);
}

.paiment-invoice {
  background: linear-gradient(135deg, #4caf50, #8bc34a);
}

.empy {
  padding: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  height: 300px;
  width: 300px;
}

.cart-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../photo/product.jpg");
  background-size: cover;
  background-position: center;
}
.btn-cart {
  display: flex;
  gap: 20px;
}

@media (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .card img {
    width: 250px;
    height: 250px;
  }

  .price {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    padding: 15px;
  }

  .card img {
    width: 200px;
    height: 200px;
  }

  .price {
    font-size: 1.6rem;
  }

  .btn-price,
  .btn-invoice,
  .paiment,
  .facture {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .product-list {
    grid-gap: 15px;
  }

  .card {
    padding: 10px;
  }

  .card img {
    width: 150px;
    height: 150px;
  }

  .price {
    font-size: 1.4rem;
  }

  .btn-price,
  .btn-invoice,
  .paiment,
  .facture {
    padding: 8px 15px;
    font-size: 0.8rem;
    display: flex;
    gap: 20px;
  }

  .empy {
    padding: 100px;
  }

  .icons {
    height: 200px;
    width: 200px;
  }
}
