.cridt-card {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
 
  
}
.paiment-image{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../../photo/back-login.jpg");
background-size: cover;
background-position: center;
height: 100vh;


}
.payment-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.payment-form input[type="text"],
.payment-form input[type="tel"],
.payment-form input[type="number"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #de9191;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
.payment-form input[type="text"]:focus,
.payment-form input[type="tel"]:focus,
.payment-form input[type="number"]:focus {
  border-color: #ff7e5f;
  outline: none;
  box-shadow: 0 0 5px rgba(209, 70, 160, 0.5);
}
.payment-form .btn {
  width: 100%;
  padding: 12px;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(209, 70, 160, 0.5);
}
.payment-form input,
.payment-form textarea {
  font-size: 1rem;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
  background-color: #eda669;
}

.payment-form .btn:hover {
  background-color: #c04627;
  box-shadow: 0 0 15px rgba(209, 70, 160, 0.5);
}
@media (max-width: 576px) {
  .payment-form {
    padding: 15px;
  }
  .payment-form input[type="text"],
  .payment-form input[type="tel"],
  .payment-form input[type="number"] {
    font-size: 14px;
  }
  .payment-form .btn {
    font-size: 14px;
  }
}
